/cactus-flutter
/cactus-react
examples/.DS_Store
.DS_Store
/examples/cpp/build
/examples/flutter
/examples/react
/lib/build
/lib/models
/docs
/.vscode
/build
/examples/iOSFrameworkExample/build/XCBuildData
/examples/iOSFrameworkExample/iOSFrameworkExample.xcodeproj/project.xcworkspace/xcuserdata
/examples/iOSFrameworkExample/iOSFrameworkExample.xcodeproj/xcuserdata
/examples/iOSFrameworkExample/build/iOSFrameworkExample.build
/examples/iOSFrameworkExample/build/ExplicitPrecompiledModules
/examples/iOSFrameworkExample/iOSFrameworkExample/models
/examples/iOSFrameworkExample/models
/examples/iOSFrameworkExample/build
/llama_mobile-ios-SDK/.build
/llama_mobile-ios-SDK/examples/iOSSDKExample/.build
/examples/androidLibExample/.gradle
/examples/androidSDKExample/.gradle
/build-ios-simulator
/lib/test_build
/llama_mobile-ios/build-ios
/llama_mobile-ios/build
/test_build
/llama_mobile-flutter-SDK/build-ios
llama_mobile-android-SDK/src/main/jniLibs/arm64-v8a/libllama_mobile.so
llama_mobile-android-SDK/src/main/jniLibs/arm64-v8a/libllama_mobile.so
llama_mobile-android-SDK/src/main/jniLibs/arm64-v8a/libllama_mobile.so
llama_mobile-android-SDK/src/main/jniLibs/x86_64/libllama_mobile.so
llama_mobile-Android/src/main/jniLibs/arm64-v8a/libllama_mobile.so
*.so
*.so
*.so
/lib/build_new
